.vscode/
backups/
build/
linux-firmware/
hardware-dossiers/

*.ps1
*.sacx

!build.ps1
!build_sacx_app.ps1
!test_image_editor.ps1
!test_dihscover.ps1
!new_mesart_ir3_blob.ps1

efi_main.S
main.c
cmds.md
